<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--实例化bean的三种方法，第一种 普通-->
    <bean id="userService" class="com.soft.service.UserServiceImpl"></bean>

    <!--第二种 静态工厂-->
    <bean id="userService1" class="com.soft.service.SFactory" factory-method="getUserService"></bean>

    <!--第三种 动态工厂-->
    <bean id="dFactory" class="com.soft.service.DFactory"></bean>
    <bean id="userService2" factory-bean="dFactory" factory-method="getUserService"></bean>

    <!--set方法注入-->
    <bean id="userService3" class="com.soft.service.UserServiceImpl1">
        <property name="userDao" ref="userDao"></property>
    </bean>
    <bean id="userDao" class="com.soft.dao.UserDaoImpl"></bean>

    <!--构造方法注入-->
    <bean id="userService4" class="com.soft.service.UserServiceImpl2">
        <constructor-arg name="userDao" ref="userDao1"></constructor-arg>
    </bean>
    <bean id="userDao1" class="com.soft.dao.UserDaoImpl"></bean>

    <import resource="applicationContext1.xml"></import>

    <bean id="e1" class="com.soft.entity.E1">
        <property name="ids">
            <array>
                <value>12</value>
                <value>13</value>
                <value>14</value>
            </array>
        </property>
    </bean>

    <bean id="e2" class="com.soft.entity.E2">
        <property name="list">
            <list>
                <value>张三</value>
                <value>李四</value>
                <value>王二麻子</value>
            </list>
        </property>
    </bean>
</beans>